.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: sans-serif;
  font-size: 12px;
  flex-grow: 1;
}

.comments {
  width: 100%;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
}


.comment-body {
  background-color: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-left: 5px;
}

.comment-user {
  color: #555;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

.comment-content {
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}

.time {
  display: flex;
  color: #ddd;
  font-size: 10px;
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 5px;
}

.nav-link {
  margin: 5px;
}
.nav-link:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #777
}

.empty-text {
  display: flex;
  justify-content: center;
  color:#666;
  text-align: center;
}
