html {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

body {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

#root {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
}
