.notification-thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}

.notification-thumbnail:last-child {
  border-bottom: none;
}


.notification-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-left: 10px;
  overflow-wrap: normal;
}
.notification-username {
  color: #555;
  font-weight: bold;
}

.display-name {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  vertical-align: baseline;
}

.notification-text {
  padding: 0px 10px;
}

.notification-text-detail {
  color: #777;
}

.notification-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mark-notification-as-read {
  display: 'flex';
  color: #777;
  margin-left: 10px;
}

.mark-notification-as-read:hover {
  color: #444;
  text-decoration: underline;
}
