.App {
  text-align: center;
  flex-grow:1;
}

.app-container {
  display: flex;
  flex-grow:1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f1f1f1;
}

.app-body {
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f1f1f1;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  align-items: flex-start;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .app-content {
    margin-bottom: 48px;
  }
}
