.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: sans-serif;
  font-size: 12px;
  flex-grow: 1;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.items-container ::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.item-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  margin-top: 0px;
  padding-left: 10px;
}

.item-name {
  font-size: 14px;
  display: flex;
  color: #666;
}

.items-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.items-nav-buttons {
  display: flex;
  margin: 5px;
  margin-top: 0px;
  padding-left: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.link {
  cursor: pointer;
  color: #777;
  margin-right: 5px;
  margin-left: 5px;
}

.link:hover {
  text-decoration: underline;
}

.empty-text {
  display: flex;
  justify-content: center;
  color: #666;
  text-align: center;
  padding-bottom: 10px;
}

.item-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
