html {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
