.notification-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: scroll;
  padding-bottom: 10px;
  max-width: 400px;
}

.no-notifications {
  display: flex;
  min-width: 200px;
  color: #aaa;
  padding: 10px;
}

.top-notification-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 14px;
}

.top-notification-row-left {
  display: flex;
  color: #777;
}

.top-notification-row-right {
  display: flex;
  color: #444;
  cursor: pointer;
}

.top-notification-row-right:hover {
  text-decoration: underline;
}
